* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body h1 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
body h1.secondary-h1 {
  font-weight: 400;
}
body label {
  font-weight: 400;
}
body label span.ingredient-highlight {
  font-weight: 700;
}
body p {
  font-weight: 400;
}
body .font-weight-500 {
  font-weight: 500;
}
body #header h1 {
  margin-left: 3%;
  margin-top: 7%;
}
body #header p {
  font-size: 0.6rem;
  padding-bottom: 2rem;
}
body #ingredients {
  /* ingredients */
  margin: 0 4%;
  /* graham cracker crust & cheesecake */
}
body #ingredients h1 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}
body #ingredients h1.secondary-h1 {
  font-style: italic;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container {
  font-family: "Montserrat", sans-serif;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container h2 {
  font-weight: 700;
  color: #BDBDBD;
  text-transform: uppercase;
  font-size: 0.5rem;
  white-space: nowrap;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container #yields-servings {
  color: #F2994A;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container p {
  font-weight: 500;
  font-size: 0.5rem;
  white-space: nowrap;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container .secondary-h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

/** NOTES

* use clamp for font size
*
*
*/
#header h1 {
  margin-bottom: 5%;
}
#header img {
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 11rem;
  border-radius: 15px;
}
#header #header-paragraph-icon-flex-container {
  display: flex;
}
#header #header-paragraph-icon-flex-container p {
  width: 75%;
  margin-left: 2%;
}
#header #header-paragraph-icon-flex-container .material-symbols-outlined {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: rotate(90deg);
  color: #C4C4C4;
  margin-top: -1.6%;
  margin-left: 2%;
  font-weight: 300;
}

#ingredients {
  display: flex;
  flex-direction: column;
}
#ingredients #graham-cracker-crust-ingredients-dish-info-flex-container {
  display: flex;
  flex-direction: column;
}
#ingredients #graham-cracker-crust-ingredients .checkbox-container {
  display: flex;
  align-items: center;
}
#ingredients #graham-cracker-crust-ingredients .checkbox-container label {
  cursor: pointer;
}
#ingredients #graham-cracker-crust-ingredients .checkbox-container input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

#graham-cracker-crust-ingredients-dish-info-flex-container {
  display: flex;
  flex-direction: column;
}
#graham-cracker-crust-ingredients-dish-info-flex-container #dish-info {
  margin: 8% 0 10% 0;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul {
  display: flex;
  justify-content: space-around;
  margin-left: -6%;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul li {
  display: flex;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul li .dish-info-item-container {
  display: flex;
  flex-direction: column;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul li .clock {
  align-self: center;
}
#graham-cracker-crust-ingredients-dish-info-flex-container .material-symbols-outlined.yields {
  color: #F2994A;
}
#graham-cracker-crust-ingredients-dish-info-flex-container .material-symbols-outlined.clock {
  font-weight: 400;
  color: #4F4F4F;
  font-size: 1rem;
  padding-right: 3%;
}
#graham-cracker-crust-ingredients-dish-info-flex-container #yields-flex-container {
  display: flex;
  margin-bottom: 8%;
  position: relative;
}
#graham-cracker-crust-ingredients-dish-info-flex-container #yields-flex-container .material-symbols-outlined {
  align-self: center;
  font-size: 1.1rem;
  padding-right: 2%;
}/*# sourceMappingURL=main.css.map */