@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 3rem;
}

body {
  font-family: "Montserrat", sans-serif;
}
body h1 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.2rem, 0.04rem + 5.8vw, 7rem);
}
body h1.secondary-h1 {
  font-weight: 400;
}
body .ingredient-highlight {
  font-weight: 700;
}
body label {
  font-weight: 400;
  font-size: clamp(0.7rem, 0.5rem + 1vw, 1.7rem);
}
body p {
  font-weight: 400;
}
body .font-weight-500 {
  font-weight: 600;
}
body #header h1 {
  margin-left: 3%;
  margin-top: 7%;
}
body #header p {
  font-size: 0.6rem;
  padding-bottom: 2rem;
  font-style: italic;
}
body #ingredients {
  /* ingredients */
  margin: 0 4%;
  /* graham cracker crust & cheesecake */
}
body #ingredients h1 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}
body #ingredients h1.secondary-h1 {
  font-style: italic;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container {
  font-family: "Montserrat", sans-serif;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container h2 {
  font-weight: 700;
  color: #BDBDBD;
  text-transform: uppercase;
  font-size: 0.5rem;
  white-space: nowrap;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container #yields-servings {
  color: #F2994A;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container p {
  font-weight: 500;
  font-size: 0.5rem;
  white-space: nowrap;
}
body #ingredients #graham-cracker-crust-ingredients-dish-info-flex-container .secondary-h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

#instructions p {
  font-size: 0.7rem;
}
#instructions .instructions-count {
  font-family: "Playfair Display", serif;
}
#instructions #source-aside {
  font-size: 0.7rem;
}

footer p {
  font-size: 0.6rem;
}

/** NOTES

* use clamp for font size
*
*
*/
#header h1 {
  margin-bottom: 5%;
}
#header img {
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 11rem;
  border-radius: 15px;
}
#header #header-paragraph-icon-flex-container {
  display: flex;
}
#header #header-paragraph-icon-flex-container p {
  width: 75%;
  margin-left: 2%;
}
#header #header-paragraph-icon-flex-container .material-symbols-outlined {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: rotate(90deg);
  color: #C4C4C4;
  margin-top: -1.6%;
  margin-left: 2%;
  font-weight: 300;
}

#ingredients {
  display: flex;
  flex-direction: column;
}
#ingredients #graham-cracker-crust-ingredients-dish-info-flex-container {
  display: flex;
  flex-direction: column;
}
#ingredients #graham-cracker-crust-ingredients {
  margin-bottom: 10%;
}
#ingredients #graham-cracker-crust-ingredients #ingredients-label-one {
  align-items: flex-start;
}

.checkbox {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
}
.checkbox :hover + .checkbox-box {
  background-color: #f9cfa9;
  border-color: #f9cfa9;
}
.checkbox .checkbox-input {
  display: none;
}
.checkbox .checkbox-input:checked + .checkbox-box {
  background-color: #F2994A;
  border-color: #F2994A;
}
.checkbox .checkbox-input:checked + .checkbox-box::after {
  opacity: 1;
}
.checkbox .checkbox-box {
  min-width: 1.1rem;
  min-height: 1.1rem;
  border: 1px solid #828282;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4%;
}
.checkbox .checkbox-box::after {
  content: "✔";
  color: white;
  opacity: 0;
}

#graham-cracker-crust-ingredients-dish-info-flex-container {
  display: flex;
  flex-direction: column;
}
#graham-cracker-crust-ingredients-dish-info-flex-container #dish-info {
  margin: 8% 0 10% 0;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul {
  display: flex;
  justify-content: space-around;
  margin-left: -6%;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul li {
  display: flex;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul li .dish-info-item-container {
  display: flex;
  flex-direction: column;
}
#graham-cracker-crust-ingredients-dish-info-flex-container ul li .clock {
  align-self: center;
}
#graham-cracker-crust-ingredients-dish-info-flex-container .material-symbols-outlined.yields {
  color: #F2994A;
}
#graham-cracker-crust-ingredients-dish-info-flex-container .material-symbols-outlined.clock {
  font-weight: 400;
  color: #4F4F4F;
  font-size: 1rem;
  padding-right: 3%;
}
#graham-cracker-crust-ingredients-dish-info-flex-container #yields-flex-container {
  display: flex;
  margin-bottom: 8%;
  position: relative;
}
#graham-cracker-crust-ingredients-dish-info-flex-container #yields-flex-container .material-symbols-outlined {
  align-self: center;
  font-size: 1.1rem;
  padding-right: 2%;
}

#instructions h1 {
  margin-left: 3%;
}
#instructions ol {
  counter-reset: instructions;
  padding-left: 3%;
}
#instructions ol li {
  display: flex;
  padding-top: 5%;
}
#instructions ol li .ingredients-instructions-highlight {
  font-weight: 600;
}
#instructions ol li .instructions-count {
  display: flex;
  padding-right: 3%;
}
#instructions ol li .instructions-count::before {
  content: counter(instructions);
  counter-increment: instructions;
  padding-right: 5%;
  background-color: #F2994A;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 3px;
  color: white;
  padding: 0 0.1rem 0.3rem 0.1rem;
  justify-content: center;
  align-items: center;
}
#instructions ol p {
  width: 85%;
}
#instructions #source-aside {
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #BDBDBD;
}
#instructions #source-aside a {
  color: #BDBDBD;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: -3rem;
}
footer p {
  color: #828282;
}
footer a {
  color: #828282;
  font-weight: 600;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */