// $fonts: (
//     'montserrat': 'Montserrat, sans-serif', 
//     'playfair': 'Playfair Display, serif'
// );

$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;
$secondary-color: #F2994A;

$breakpoints: (
    'mobile-m': 400, 
    'mobile-l': 480, 
    'tablet': 768, 
    'laptop': 1280, 
    'desktop': 1530, 
    'desktop-lg': 1920
);

@mixin mobile-m {
    @media screen and 
} 
