@import '../utilities/variables';

body {
    font-family: $montserrat;
    
    h1 {
        font-weight: 700;
        font-family: $playfair;

        &.secondary-h {
            font-weight: 400;
        }
    }
    
    .ingredient-highlight {
            font-weight: 700;
        }
        
    label {
        font-weight: 400;
        font-size: clamp(0.7rem, 0.5000rem + 1.0000vw, 1.7rem);
    }

    p {
        font-weight: 400;
    }

    .font-weight-500{
        font-weight: 600;
    }

    #header {

        h1 {
            margin-left: 3%;
            margin-top: 7%; 
            font-size: clamp(1.2rem, 0.6400rem + 2.8000vw, 4rem);
        }

        p {
            font-size: clamp(0.6rem, 0.4600rem + 0.7000vw, 1.3rem);
            padding-bottom: 2rem;
            font-style: italic;
            font-weight: lighter; 
            margin-top: -1%;
            @include mobile-m {
                margin-top: -1%;
            }
            @include tablet {
                margin-top: -1.3%;
            }
            @include laptop {
                margin-top: -1%;
            }
        }

        i.material-symbols-outlined {
            font-size: clamp(1.1rem, 0.2000rem + 4.0000vw, 2.3rem);
        }
    }

    #ingredients {
         #ingredients-h1 {
            font-size: clamp(1.2rem, 0.2250rem + 4.3333vw, 2.5rem);
         }

        /* ingredients */
        margin: 0 4%;
        h1.ingredient-title, h2.ingredient-title {
            font-size: clamp(1rem, 0.2500rem + 3.3333vw, 2rem);
            margin-bottom: 1.2rem;
            font-weight: 400;
            font-family: $playfair;
            font-style: italic;
        }
    
        #graham-cracker-crust-ingredients-dish-info-flex-container {
            font-family: $montserrat;

            /* dish-info */
            h2.dish-info-li-header, h2#dish-info-yields-h2  {
                font-weight: 700;
                color: #BDBDBD;
                text-transform: uppercase;
                font-size: clamp(0.5rem, -0.1750rem + 3.0000vw, 1.4rem);
                white-space: nowrap;
            }

            #yields-servings {
                color: $secondary-color;
            }

            p {
                font-weight: 500;
                font-size: clamp(0.5rem, -0.1750rem + 3.0000vw, 1.4rem);
                white-space: nowrap;
            }
        }

        #graham-cracker-crust-ingredients {
            label {
                width: 100%;
            }
        }

        #cheesecake-ingredients {
            label {
                width: 100%;
            }
            #topping-suggestions {
                font-style: italic;
            }
        }
    }
}

#instructions {
    margin-top: 3rem;

    h1 {
        font-size: clamp(0.1rem, 0.9rem + 2.5vw, 2.7rem);
    }
    p {
        font-size: clamp(0.5rem, 0.6rem + 0.8vw, 1.8rem);
    }

    .instructions-count {
        font-family: $playfair;
        font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    }

    #source-aside {
        font-size: .7rem;
    }
}

footer {
    
    p {
        font-size: .6rem;    
    }
}
/** NOTES

* use clamp for font size ✅
*
*
*/