@import '../utilities/variables';

body {
    font-family: map-get($fonts, 'Montserrat');
    
    h1 {
        font-weight: 700;

        &.secondary-h1 {
            font-weight: 400;
        }
    }

    label {
        font-weight: 400;

        span.ingredient-highlight {
            font-weight: 700;
        }

    }

    p {
        font-weight: 400;
    }

    .font-weight-500{
        font-weight: 500;
    }

}