@import '../utilities/variables';

body {
    font-family: $montserrat;
    
    h1 {
        font-weight: 700;
        font-family: $playfair;

        &.secondary-h1 {
            font-weight: 400;
        }
    }
    
    .ingredient-highlight {
            font-weight: 700;
        }
        
    label {
        font-weight: 400;
        font-size: clamp(0.7rem, 0.5000rem + 1.0000vw, 1.7rem);
    }

    p {
        font-weight: 400;
    }

    .font-weight-500{
        font-weight: 600;
    }

    #header {

        h1 {
            margin-left: 3%;
            margin-top: 7%; 
        }

        p {
            font-size: .6rem;
            padding-bottom: 2rem;
            font-style: italic;
        }
        
    }

    #ingredients {
        /* ingredients */
        margin: 0 4%;
        h1 {
            font-size: 1rem;
            margin-bottom: 1.2rem;
        }

        /* graham cracker crust & cheesecake */
        h1.secondary-h1 {
            font-style: italic;
        }
        
        #graham-cracker-crust-ingredients-dish-info-flex-container {
            font-family: $montserrat;

            h2 {
                font-weight: 700;
                color: #BDBDBD;
                text-transform: uppercase;
                font-size: .5rem;
                white-space: nowrap;
            }

            #yields-servings {
                color: $secondary-color;
            }

            p {
                font-weight: 500;
                font-size: .5rem;
                white-space: nowrap;
            }

            .secondary-h1 {
                font-family: $playfair;
                font-weight: 400;
            } 
        }
    }
}

#instructions {
    p {
        font-size: .7rem;
    }

    .instructions-count {
        font-family: $playfair;
    }

    #source-aside {
        font-size: .7rem;
    }
}

footer {
    
    p {
        font-size: .6rem;    
    }
}
/** NOTES

* use clamp for font size
*
*
*/