#graham-cracker-crust-ingredients-dish-info-flex-container {
    display: flex;
    flex-direction: column;

    #dish-info {
        margin: 8% 0 10% 0;
    }

        ul {
            display: flex;
            // background-color: orange;
            justify-content: space-around;
            margin-left: -6%;
          

            li {
                display: flex;

                .dish-info-item-container {
                    display: flex;
                    flex-direction: column;
                }

                .clock {
                    align-self: center;
                }
            }
        }

        .material-symbols-outlined {
        
            &.yields {
            color: $secondary-color;
        }

            &.clock {
                font-weight: 400;
                color: #4F4F4F;
                font-size: 1rem;
                padding-right: 3%;
            }
    }

    #yields-flex-container {
        display: flex;
        margin-bottom: 8%;
        position: relative;

        .material-symbols-outlined {
            align-self: center;
            font-size: 1.1rem;
            padding-right: 2%;
        }
    }
}
