#graham-cracker-crust-ingredients-dish-info-flex-container {
    display: flex;
    flex-direction: column;

    #dish-info {
        margin: 8% 0 0 5%;
    }

        ul {
            display: flex;
            // background-color: orange;

            li {
                display: flex;

                .dish-info-item-container {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .material-symbols-outlined {
        
            &.yields {
            color: $secondary-color;
        }

            &.clock {
                font-weight: 400;
                color: #4F4F4F;
                font-size: 1.2rem;
            }
    }

    #yields-flex-container {
        display: flex;
        margin-bottom: 8%;
        position: relative;

        .material-symbols-outlined {
            align-self: center;
        }
    }
}
