#header-paragraph-icon-flex-container {
    display: flex;

    .material-symbols-outlined {
        height: fit-content;
        transform: rotate(90deg);   
        color: #C4C4C4;
        margin-top: -.5%;
        // background-color: skyblue;
    }
}

