#header {
    h1 {
        margin-bottom: 5%;
    }
 
   img {
            display: block;
                
            width: 95%;
            margin: 0 auto;
            height: 11rem;
            border-radius: 15px;
        }

    #header-paragraph-icon-flex-container {
        display: flex;

        p {
            width: 75%;
            margin-left: 2%;
        }

        .material-symbols-outlined {
            height: fit-content;
            transform: rotate(90deg);   
            color: #C4C4C4;
            margin-top: -1.6%;
            margin-left: 2%;
            // background-color: skyblue;
        }
    }
}
