#ingredients {
    display: flex;
    flex-direction: column;

    #graham-cracker-crust-ingredients-dish-info-flex-container {
            display: flex;
            flex-direction: column;
    }


    #graham-cracker-crust-ingredients {

        .checkbox {
            display: inline-flex;
            align-items: flex-start;
            cursor: pointer;

            :hover + .checkbox-box {
                background-color: lighten($secondary-color, 20%);
                border-color: lighten($secondary-color, 20%);
            }

            .checkbox-input {
            display: none;

            
            &:checked + .checkbox-box {
                background-color: $secondary-color;
                border-color: $secondary-color;

                &::after {
                    opacity: 1;
                }
            }

            }
            
            .checkbox-box {
                min-width: 1.1rem;
                min-height: 1.1rem;
                border:2px solid #ccc;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                &::after {
                    content: '\2714';
                    color: white;
                    opacity: 0;
                }
            }
        }
    }
}

