#ingredients {
    display: flex;
    flex-direction: column                           ;

    #graham-cracker-crust-ingredients-dish-info-flex-container {
            display: flex;
            flex-direction: column;

            
    }
}