#ingredients {
    display: flex;
    flex-direction: column;
    
    h1#ingredients-h1 {
        margin-bottom: 1rem;
    }

    // #graham-cracker-crust-ingredients-dish-info-flex-container {
    //         display: flex;
    //         flex-direction: column;
    // }

    #graham-cracker-crust-ingredients {
        margin-bottom: 10%;
        @include laptop {
             margin-top: 8%;
        }

        #ingredients-label-one {
            align-items: flex-start;
        }

        @include laptop {
            .graham-cracker-label-content-container {
            margin-left: -2%;
            width: 80%;
            }
        }
    }

    @include laptop {
        #cheesecake-ingredients {
            margin-top: -20%;
            width: 70%;
        }
    }
}

.checkbox {
    display: inline-flex;
    align-items: flex-start;
    // background-color: pink;
    margin-right: -40%;
    cursor: pointer;

    :hover + .checkbox-box {
        background-color: lighten($secondary-color, 20%);
        border-color: lighten($secondary-color, 20%);
    }

    .checkbox-input {
    display: none;
    
        &:checked + .checkbox-box {
            background-color: $secondary-color;
            border-color: $secondary-color;

            &::after {
                opacity: 1;
            }
        }
    }
    
    .checkbox-box {
        // min-width: 1.1rem;
        // min-width: 2rem;
        // min-height: 1.1rem;
        // min-height: 2rem;
        height:  clamp(1.1rem, 0.9200rem + 0.9000vw, 2rem);
        min-width:  clamp(1.1rem, 0.9200rem + 0.9000vw, 2rem);
        border: 1px solid #828282;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4%;

        &::after {
            content: '\2714';
            color: white;
            opacity: 0;
        }
    }
}

