#instructions {
    ol {
        counter-reset: instructions;   
       li {

          &::before {
            content: counter(instructions);
            counter-increment: instructions;
          }
          
       }
    }
}